{% extends 'recipes/base.html'%}
{% block account%}
  <li class='active'><a href="{% url 'recipes:myaccount' %}" >My Account</a></li>
  {%endblock%}
{%block content%}
My account page
Edit your information here!
<form class="form-horizontal " style='padding-top: 30px;' method="POST" action="{% url 'login:edit_user' %}" >
  {% csrf_token %}
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name='f_name' placeholder="Change First Name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name='l_name' Placeholder="Change Last name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" name='email' Placeholder="Change Email here">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Zip Code</label>
    <div class="col-sm-2">
      <input type="number" min='00501' max='99950' class="form-control" name='zip' Placeholder="Change Zip Code">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Change Password</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" name='password' placeholder=" Change Password">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" name='repass' placeholder=" Confirm  New Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Edit details</button>
    </div>
  </div>
</form>

<form class="form-horizontal " style='padding-top: 30px;' method="POST" action="{% url 'recipes:top_fav' %}" >
  {% csrf_token %}
  <div class="form-group">
    <label class="col-sm-2 control-label">Top Recipe 1</label>
    <div class="col-sm-2">
      <select class="form-control" name="item1">
        {%if top_fav.0%}
        <option value="{{top_fav.0.id}}" >{{top_fav.0.title}}</option>
        {%else%}
      <option value="" disable selected disabled="disable" >--select one--</option>
      {%endif%}
      {%for recipe in recipes%}
      <option value='{{recipe.id}}'>{{recipe.title}}</option>
      {%endfor%}
    </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Top Recipe 2</label>
    <div class="col-sm-2">
      <select class="form-control" name="item2">
        {%if top_fav.1%}
        <option value="{{top_fav.1.id}}" >{{top_fav.1.title}}</option>
        {%else%}
      <option value="" disable selected disabled="disable" >--select one--</option>
      {%endif%}
      {%for recipe in recipes%}
      <option value='{{recipe.id}}'>{{recipe.title}}</option>
      {%endfor%}
    </select>
    </div>
  </div><div class="form-group">
    <label class="col-sm-2 control-label">Top Recipe 3</label>
    <div class="col-sm-2">
      <select class="form-control" name="item3">
        {%if top_fav.2%}
        <option value="{{top_fav.2.id}}" >{{top_fav.2.title}}</option>
        {%else%}
      <option value="" disable selected disabled="disable" >--select one--</option>
      {%endif%}
      {%for recipe in recipes%}
      <option value='{{recipe.id}}'>{{recipe.title}}</option>
      {%endfor%}
    </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save top recipes</button>
    </div>
  </div>
</form>


{%endblock%}
