
    {% extends 'login/base.html'%}
  {%block content%}
  <form action="{% url 'login:create_user' %}" method='POST'>
  {% csrf_token %}
  <label>First Name: </label><input type="text" class="form-control" name="f_name" value="">
  <label>Last Name: </label><input type="text" class="form-control" name="l_name" value="">
  <label>User Name: </label><input type="text" class="form-control" name="u_name" value="">
  <label>Email: </label><input type="email" class="form-control" name="email" value="">
  <label>Password: </label><input type="password" class="form-control" name="password" value="">
  <label>Confirm Password: </label><input type="password" class="form-control" name="repass" value="">
  <label>Zip Code </label><input type="number" min='00501' max='99950' class="form-control" name="zip" value="">
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
  {%endblock%}
