<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>{%block title%}{%endblock%}</title>
</head>
<body style='padding: 70px;' }>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" >
<div class="container"><!-- Nav tabs -->
<ul class="nav navbar-nav">
{%block home%}<li><a href="{% url 'recipes:splash' %}">Home</a></li>{%endblock%}
{%block shop%}<li><a href="{% url 'shop:search'%}" >Go Shopping</a></li>{%endblock%}
{%block recipe%}<li><a href="{% url 'recipes:add_recipe'%}">My Recipes</a></li>{%endblock%}
{%block account%}<li><a href="{% url 'recipes:myaccount' %}" >My Account</a></li>{%endblock%}

<li><a class='.navbar-right'href="{% url 'login:logout'%}" >Logout</a></li>

</ul>
{% block zip%}

                  {% endblock %}
              </div>

          </nav>

        {%block content%}{%endblock%}

      </body>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script>
      {%block script%}{%endblock%}
      </script>
