{% extends 'shopping/base.html' %}

{%block content%}
<div class="row">
  <form action="./displayrecipe" name='display' method='post' id='recipes'>
    {%csrf_token%}
<ul style='list-style:none;'>
  <li style='display:inline;'><select class='.col-md6'  name="recipes" id='recipeselect' >
    <option value="" disable selected disabled="disable">--Select One--</option>
    {% for items in recipes %}
    <option value="{{items.id}}">{{items.title}}</option>
    {% endfor %}
  </select></li>
  <li style=' display:inline;'><a class='.col-md3' href="{% url 'shop:multi' %}">Shopping for more than one recipe? Click here!</a></li>
</ul>
</form>
</div>
<div class="row">
  <div id="results">

  </div>
</div>
{%endblock content%}

{%block script%}
$('#recipes').on('change', function(){
  console.log('clicked recipe');
  $.ajax({
    url: $(this).attr('action'),
    method: 'POST',
    data: $(this).serialize(),
    success: function(res){
      var htmlstr='';
      console.log('results:');
      console.log(res.ingred);
      htmlstr +='<div class="recipe col-md-6"><ul style="liststyle:none;"><li>'+res.title+'</li><li><div class="input-group"><span class="input-group-addon">';
      for (items in res){
        htmlstr +='<input type="checkbox" name="ingredients" value="'+items.itemid+'"></span>'+items.name+'</div></li>';
      };
      htmlstr +='</ul></div>';
      $('#results').html(htmlstr);
    }
  });
    return false;
  });

function completeAlert(){
  alert("<div class='fade in'>Youve picked everything up! Choose a new recipe if you'd like to continue.</div>");
  return True;
}

$('#results input[type="checkbox"]').click(function(event){
  if ($(this).not(':checked').length == 0 ){
    completeAlert();
    $('#results').html('');
    $('#recipes').val = '';
  }
});
{%endblock script%}
