{% extends 'shopping/base.html' %}

{%block content%}
<div class="row">
<ul style='liststyle:none; display:inline;'>
  <li><select class='.col-md4' name="recipes" id='recipes'>
    {% for items in recipes %}
    <option name='select' value="{{items.id}}">{{items.title}}</option>
    {% endfor %}
  </select></li>
  <li><a class='.col-md3' href="{% url 'shop:multi' %}">Shopping for more than one recipe? Click here!</a></li>
  <li></li>
</ul>
</div>
<div class="row">
  <div id="results">

  </div>
</div>
{%endblock content%}

{%block script%}
$('#recipes').on('change', function(){
  val=$(this).val;
  route='./displayrecipe';
  $.post(route,val, function(res){
    var htmlstr='';
    console.log('results:');
    console.log(res);
    htmlstr +='<div class="recipe col-md-6"><ul style="liststyle:none;"><li>'+res.title+'</li><li><div class="input-group"><span class="input-group-addon">';
    for (items in res.ingredients.all){
      htmlstr +='<input type="checkbox" name="ingredients" value="'+items.itemid+'"></span>'+items.name+'</div></li>';
    }
    htmlstr +='</ul></div>';
    $('#results').html(htmlstr);
  }, 'object');
});
function completeAlert(){
  alert("<div class='fade in'>Youve picked everything up! Choose a new recipe if you'd like to continue.</div>");
  return True;
}

$('#results input[type="checkbox"]').click(function(event){
  if ($(this).not(':checked').length == 0 ){
    completeAlert();
    $('#results').html('');
    $('#recipes').val = '';
  }
});
{%endblock script%}
