{% extends 'shopping/base.html' %}
{%block shop%}<li class='active'><a href="{% url 'shop:search'%}" >Go Shopping</a></li>{%endblock%}
{%block content%}
<div class="row">
  <form action="./displayrecipe" name='display' method='post' id='recipes'>
    {%csrf_token%}
<ul style='list-style:none;'>
  <li style='display:inline;'><select class='.col-md6'  name="recipes" id='recipeselect' >
    <option value="" disable selected disabled="disable">--Select One--</option>
    {% for items in recipes %}
    <option value="{{items.id}}">{{items.title}}</option>
    {% endfor %}
  </select></li>
  <li style=' display:inline;'><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Shopping for more than one recipe? Click here!</button></li>
</ul>
</form>
</div>
<div class="row">
  <div id="results">
    {% load staticfiles %}
    </div>
  <div id="loading-image" style='display:none;'><img style='height:200px; width:200px; position:relative; top:5em; left:5em;' src="{% static 'shopping/img/loading.gif' %}" alt="load"></div>

</div>
<div id='modal' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <p>Sorry! We don't quite have this implimented yet. Please check back with us in the future!</p>
    </div>
  </div>
</div>
{%endblock content%}

{%block script%}
$('#recipes').on('change', function(){
  console.log('clicked recipe');
  $('#results').hide()
  $('#loading-image').show();

  $.ajax({
    url: $(this).attr('action'),
    method: 'POST',
    data: $(this).serialize(),
    success: function(res){
      var htmlstr='';
      console.log('results:');
      console.log(res);
      table=res.split('|');
      console.log(table)
      htmlstr +='<div class="recipe col-md-10" style="padding:10px;"><ul style="list-style:none;"><li><h2>'+table[0]+'</h2></li>';
      for (i=1;i<table.length-1;i+=4){
        htmlstr +='<li><div class="input-group"><span class="input-group-addon"><input class="ing_list" type="checkbox" name="ingredients" value="'+table[i+1]+'">'+table[i]+' | Located in '+table[i+2]+' | Category : '+table[i+3]+'</span></div></li>';
      };
      htmlstr +='</ul></div>';
      $('#results').html(htmlstr);
    },
      complete: function(){
      $('#loading-image').hide();
      $('#results').show()
    },
  });
    return false;
  });

function completeAlert(){
  alert("Youve picked everything up! Choose a new recipe if you'd like to continue.");
  return True;
};

$('.ing_list:checked').change(function(){
  if ($('.ing_list:checked').length == $('.ing_list').length){
    completeAlert();
    $('#results').html('');
    $('#recipes').val = '';
  }
});
{%endblock script%}
